<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
    <title>Descion Maker</title>
</head>

<body class="md:container sm:mx-auto px-4">
  <header class="mx-auto">
    <h1><a href="/"><img src="/img/logo.svg" alt="logo" height="22px" />Descion Maker</a></h1>
  </header>
  <main>
    <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
  </main>
  <footer>
    <%- include('partials/_footer') %>
  </footer>
</body>

</html>