<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<header><%- include('partials/_header') %></header>
<body>
  <main>

  <div class="poll-container">
    <form id="create-poll" action="/api/poll" method="post">
      <div class="vertically-arranged">  
      <h4>Define Poll Parameters</h4>
        
      <div>
        <span class="left">
          <label for="poll-title">Poll Title</label>
        </span>
        <span class="right">
          <input type="text" id="poll-title" name="decision">
        </span>
      </div>
           
      <div>
        <span class="left">
          <label for="description">Description</label>
        </span>
        <span class="right">
          <input type="textarea" id="description"  name="description">
        </span>
      </div>

        <div>
        <span class="left">
          <label for="electorateSize">Expected amount of votes</label>
        </span>
        <span class="right">
          <input type="electorateSize" id="electorateSize" name="electorateSize">
        </span>
      </div>
      
      <div>
          <span class="left">
          <label for="duration">Running time (in hours)</label>
        </span>
        <span class="right">
          <input type="duration" id="duration" name="duration">
        </span >
      </div>

          <div>
            <span class="left">
         <label for="email">Managing Email</label>
        </span>
        <span class="right">
         <input type="email" id="email" name="email">
        </span >
      </div>

       <div>
       <span class="left">
        <label for="distro">Voting Distro (comma-separated emails)</label>
      </span>
      <span class="right">
        <input type="textarea" id="distro"  name="distro">
      </span >
       </div>

    <!-- </div>
    <div class="vertically-arranged"> -->
      <h4>Candidates List</h4>
     
      <ol id="candidates"></ol>
       <span>
      <input type="text" id="candidate" size=50>
   
      <input type="button" value="Add Candidate" onClick="addCandidate()">
    </span>

      <input id="submit" type="submit" value="Create Poll">
    </div>
     </form>
    </div>
  </main>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>
