<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head') %>
    <title>Descion Maker</title>
</head>

<body class="container sm:mx-auto bg-black px-4">
  <%- include('partials/_header') %>
    <main class="flex flex-col md:flex-row justify-center mx-auto md:max-w-4xl md:space-x-32">
      <div class="md:max-w-sm pb-8 text-white">
        <p class="text-3xl">
          Your vote has been recorded
        </p>
      </div>
    </main>
    <footer>
      <%- include('partials/_footer') %>
    </footer>
</body>

</html>