

.poll-list {
  border: 1px solid black;
  width: 140px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}

.ballot-entry {
  border: 1px solid black;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}

#vote-submit {
  margin-top: 10px;
}

.content-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
