// See: https://sass-lang.com/
$purple: rgb(131, 0, 238);

body,
html {
  margin: 0;
}

nav {
  overflow: hidden;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 1.5em;
  width: 100%;
  text-align: center;

  background-color: $purple;
  color: #FFFFFF;
}

.content-container {


  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid black;
  width: 400px;

}

.content-container * {
  overflow-wrap: break-word;
}

.poll-title {
  overflow: hidden;
  border-bottom: 1px solid black;

}

footer {
  width: 100%;
  bottom: 0;
  background-color: purple;
}
