// See: https://sass-lang.com/
$purple: rgb(131, 0, 238);

body,
html {
  margin: 0;
}

nav {
  background-color: $purple;
  color: #FFFFFF;
}

.content-container {
  //center content
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid black;
  width: 400px;

}

.content-container * {
  overflow-wrap: break-word;
}

.poll-title {
  overflow: hidden;
  border-bottom: 1px solid black;

}

footer {
  width: 100%;
  bottom: 0;
  background-color: purple;
}
