.content-container {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid black;
  width: 400px;
}

.poll-title {
  overflow: hidden;
  border-bottom: 1px solid black;

}

.option-name {
  position:relative;
  overflow-wrap: break-word;
  justify-self: start;
  width: 50%;
}

.result-box {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  height: 100px;
  border: 1px solid gray;

   .result-box > * {
    margin: 0 10px 0 10px;
  }
}


.result-bar-wrapper {
  position: relative;
  height: 30px;
  width: 40%;
  border: 1px solid gray;
}
.result-bar {
  position: absolute;
  background-color: aqua;
  width: 10%;
  height: 30px;
}



